* {
    /*border: 1px solid red;*/
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

button {
    background-color: white;
    height: 75px;
    width: 75px;
    margin: 6px 3px;
    font-size: 40px;
    border-radius: 12px;
}

.number,
.decimal,
.equal {
    border: 1px solid lightgreen;
}

.number:hover,
.decimal:hover,
.equal:hover {
    background-color: lightgreen;
}

.clear {
    border: 1px solid lightcoral;
}

.clear:hover {
    background-color: lightcoral;
}

.operator {
    border: 1px solid lightblue;
}

.operator:hover {
    background-color:  lightblue;
}