* {
    
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 15px;
    letter-spacing: 0.1em;
    font-size: 40px;
    font-weight: 600;
}

button {
    background-color: white;
    height: 75px;
    width: 75px;
    margin: 6px 3px;
    font-size: 40px;
    border-radius: 12px;
}

.number,
.decimal,
.equal {
    border: 1px solid lightgreen;
}

.number:hover,
.decimal:hover,
.equal:hover {
    background-color: lightgreen;
}

.clear {
    border: 1px solid lightcoral;
}

.clear:hover {
    background-color: lightcoral;
}

.operator {
    border: 1px solid lightblue;
}

.operator:hover {
    background-color:  lightblue;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.screen {
    border: 1px solid lightcoral;
    width: 240px;
    height: 75px;
    margin: 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.previous {
    font-size: 20px;
    margin-right: 10px;
}

.current {
    font-size: 35px;
    margin-right: 10px;
}